html{
    scroll-behavior: smooth;
}
body{
    font-family: 'IBM Plex Mono', monospace;
}
.frame{
    margin: 0 auto;
    width: 1400px;
    background: #000;
}
.wrapper{
    background-color: #000;
}
h1{
    width: 150px;
    line-height: 39px;
    font-size: 42px;
    color: #bd0db2;
    font-weight: 700;
    letter-spacing: -0.11em;
}
.logo-link{
    top: 36px;
    margin-left: 123px;
    display: block;
    text-align: center;
    height: 39px;
    width: 150px;
    background-color: #000;
    border-radius: 100px;
    text-decoration: none;
    position: absolute;
}
.nav{
    margin-right: 124px;
    right: 130px;
    top: 33px;
    height: 23px;
    width: 527px;
    position: absolute;
}
.nav__link{
    margin-left: 50px;
    font-size: 18px;
    line-height: 23px;
    color: #FFF;
    text-decoration: none;
    display: inline-block;
}
.nav__link:nth-last-child(4){
    margin: 0;
}
.nav__link:hover{
    color: #bd0db2;
}
.Preview{
    width: 100%;
    height: 756px;
    background-image: url('/resources/Preview.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}
.preview__text{
    top: 334px;
    margin-left: 125px;
    font-size: 20px;
    line-height: 26px;
    width: 430px;
    height: 103px;
    color: #FFF;
    position: absolute;
}
h2{
    top: 466px;
    margin-left: 119px;
    font-size: 80px;
    color: #bd0db2;
    height: 205px;
    width: 919px;
    position: absolute;
}
section{
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #000;
}
h3{
    margin-left: 120px;
    margin-bottom: 40px;
    font-size: 55px;
    line-height: 72px;
    color: #FFF;
}
.Project-mom{
    margin-left: 125px;
    width: 1150px;
    height: 550px;
    background-image: url('/resources/Project-mom.png');
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.90) 100%), url('/resources/Project-mom.png'), lightgray 0px -11.324px / 100% 156.818%;
    position: relative;
}
.Project-metrika{
    margin-left: 125px;
    margin-bottom: 80px;
    width: 1150px;
    height: 550px;
    background-image: url('/resources/Project-metrika.png');
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.90) 100%), url('/resources/Project-metrika.png'), lightgray 50%; 
    background-size: cover;
    position: relative;
}
.mom{
    bottom: 30px;
    left: 50px;
    height: 90px;
    width: 430px;
    text-decoration: none;
    position: absolute;
}
.metrika{   
    bottom: 30px;
    left: 50px;
    height: 90px;
    width: 310px;
    text-decoration: none;
    position: absolute;
}
.description-headline{
    color: #FFF;
    line-height: normal;
    font-size: 35px;
}
.description-headline:hover{
    color: #bd0db2;
    text-decoration: underline;
}
.description{
    color: #FFF;
    line-height: normal;
    font-size: 30px;
}
.link{
    margin-left: 123px;
    margin-bottom: 150px;
    width: 582px;
    height: 153px;
    text-align: center;
    color: #000;
    font-size: 30px;
    line-height: 39px;
    text-decoration: none;
    border-radius: 10px;
    background: #bd0db2;
    padding-top: 56px;
}
.link:hover{
    color: #bd0db2;
    background: #000;
    border: 1px solid #bd0db2;
}
.skill__headline{
    margin-left: 123px;
    margin-bottom: 15px;
    font-size: 35px;
    color: #bd0db2;
    line-height: 46px;
}
.skill__preview{
    margin-left: 125px;
    margin-bottom: 12px;
}
.skill__description{
    margin-left: 123px;
    margin-bottom: 60px;
    color: #FFF;
    line-height: normal;
    font-size: 22px;
    width: 778px;
}
.services-headline{
    margin-top: 150px;
    margin-left: 125px;
    margin-bottom: 74px;
    width: 403px;
    color: #FFF;
    line-height: 46px;
    font-size: 35px;
}
.task-img{
    margin-left: 125px;
}
.task{
    margin-left: 125px;
    margin-bottom: 74px;
    padding: 40px 0 40px 40px;
    width: 1150px;
    height: 283px;
    border-radius: 30px;
    background-color: #191C19;;
}
.task:nth-last-child(1){
    margin-bottom: auto;
}
.task__headline{
    margin: 0 0 15px 0;
    font-size: 55px;
    line-height: 72px;
    color: #bd0db2;
}
.task__description{
    color: #FFF;
    line-height: normal;
    font-size: 22px;
    width: 749px;
    height: 116px;
    box-sizing: border-box;
    display: block;
}
.contacts{
    margin-bottom: 150px;
    width: 100%;
    height: 717px;
    border-radius: 30px;
    background-image: url('/resources/contacts.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%; 
}
.footer{
    width: 100%;
    height: 223px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #FFF;
    padding-top: 76px;
    padding-left: 125px;
    font-family: 'Manrope', sans-serif;
}
.footer__text{
    margin-bottom: 66px;
    font-size: 22px;
    line-height: normal;
}
.rights{
    font-size: 20px;
    line-height: normal;
    opacity: 0.5;
}
